<!DOCTYPE html>
<html lang='en'>
  <%= erb :'includes/header' %>
  <body>
    <%= erb :'includes/nav' %>
    <div class='container'>
      <div class='row'>
        <div class='col-md-3'></div>
        <div class='col-md-6'>
          <%= yield %>
        </div>
        <div class='col-md-3'>
          <script src='<%= @config[:certificate_url] %>/badge.js'></script>
          <hr />
          <% if @config[:license][:image] %>
            <a href='<%= @config[:license][:url] %>' title='<%= @config[:license][:title] %>'>
              <img alt='Creative Commons License' style='border-width:0' src='<%= @config[:license][:image] %>' />
            </a>
          <% end %>
          <hr />
        </div>
      </div>
    </div>
  </body>
</html>
