<!DOCTYPE html>
<html lang='en'>
  <%= erb :'includes/header' %>
  <body>
    <%= erb :'includes/nav' %>
    <div class='container'>
      <div class='row'>
        <div class='col-md-2'></div>
        <div class='col-md-8'>
          <div class='row'>
            <div class='col-md-12'>
              <%= yield %>
            </div>
          </div>
          <%= erb :'includes/configuration-form' %>
          <div class='row'>
            <hr />
            <button data-toggle='collapse' data-target='#json' class='btn btn-info preview-json'>Show the JSON <i class="fa fa-arrow-circle-down"></i></button>
            <a href='<%= "#{request.path}.json" %>' class='btn btn-info'>Get the JSON <i class="fa fa-arrow-circle-right"></i></a>
            <div id='json' class='collapse' class='col-md-12'></div>
          </div>
          <div class='row'>
            <hr />
            <div class='col-md-12'>
              <% if @autorefresh %>
                <div class='col-md-12 text-center'>
                  Autorefreshing every <%= @autorefresh %> seconds
                </div>
              <% end %>
            </div>
          </div>
        <div class='col-md-2'></div>
      </div>
    </div>
  </body>
</html>

<script>
$.getJSON(document.URL, function(json) {
  $('#json').html('<pre>' + JSON.stringify(json, null, 2) + '</pre>')
})

// http://jsfiddle.net/V4u5X/2/
$('.preview-json').click(function(){
  var $this = $(this);
  $this.toggleClass('preview-json');
  if($this.hasClass('preview-json')){
    $this.html('Show the JSON <i class="fa fa-arrow-circle-down"></i>');
  } else {
    $this.html('Hide the JSON <i class="fa fa-arrow-circle-up"></i>');
  }
});


</script>
