<!DOCTYPE html>
<html lang='en'>
  <%= erb :'includes/header' %>
  <body>
    <%= erb :'includes/nav' %>
    <div class='container'>
      <div class='row'>
        <div class='col-md-2'></div>
        <div class='col-md-8'>
          <div class='row'>
            <div class='col-md-12'>
              <%= yield %>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-8'>
              View this as a
              <% @alternatives.delete @type %>
              <% @alternatives.each do |alternative| %>
                <a href='<%= request.path %>?type=<%= alternative %>' class='btn btn-success'><%= alternative %></a>
              <% end %>
            </div>
            <div class='col-md-4'>
              <a href='<%= "#{request.path}.json" %>' class='btn btn-info pull-right'>Get the JSON</a>
            </div>
          </div>
          <div class='row'>
            <hr />
            <% if @autorefresh %>
              <div class='col-md-12 text-center'>
                Autorefreshing every <%= @autorefresh %> seconds
              </div>
            <% end %>
          </div>
        <div class='col-md-2'></div>
      </div>
    </div>
  </body>
</html>
