<!DOCTYPE html>
<html lang='en'>
  <%= erb :'includes/header' %>
  <body>
    <%= erb :'includes/nav' %>
    <div class='container'>
      <div class='row'>
        <div class='col-md-2'></div>
        <div class='col-md-8'>
          <div class='row'>
            <div class='col-md-12'>
              <%= yield %>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-12'>
              <% @alternatives.delete @type %>
              <form class='form-inline' action='<%= request.path %>' method='get'>
                <div class='form-group'>
                  <label for='type'>View this as a</label>
                  <select class='form-control' id='type' name='type'>
                    <% @alternatives.each do |alternative| %>
                      <option value='<%= alternative %>'><%= alternative %></option>
                    <% end %>
                  </select>
                  <% extract_query_string(request.env['QUERY_STRING'], exclude: 'type').each do |name, value| %>
                    <input type='hidden' name='<%= name %>' value='<%= value %>' />
                  <% end %>
                  <button type='submit' class='btn btn-primary'>Submit</button>
                </div>
              </form>
            </div>
          </div>
          <div class='row'>
            <hr />
            <button data-toggle='collapse' data-target='#json' class='btn btn-info'>Preview the JSON</button>
            <a href='<%= "#{request.path}.json" %>' class='btn btn-info'>Get the JSON</a>
            <div id='json' class='collapse' class='col-md-12'></div>
            <script>
            $.getJSON(document.URL, function(json) {
              $('#json').text(JSON.stringify(json, null, 2))
            })
            </script>
          </div>
          <div class='row'>
            <hr />
            <div class='col-md-12'>
              <% if @autorefresh %>
                <div class='col-md-12 text-center'>
                  Autorefreshing every <%= @autorefresh %> seconds
                </div>
              <% end %>
            </div>
          </div>
        <div class='col-md-2'></div>
      </div>
    </div>
  </body>
</html>
