<!-- PLOTLY -->
<script src='//cdn.plot.ly/plotly-latest.min.js'></script>
<style>
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  }

  div {
    font-family: 'Open Sans';
  }

  #wrapper h1 {
    position: absolute;
    z-index: 1000;
    width: 100%;
    text-align: center;
    color: <%= @textcolour %>;
    font-size: 9vh;
    font-weight: 400;
    opacity: 0.7;
    line-height: 1em;
    padding: 0;
    top: 2vh;
  }
</style>

<div id="wrapper">
  <h1><%= @title['en'] %></h1>
  <div id='chart'></div>
</div>
<script src='/javascripts/metrics.js'></script>
<script src='/javascripts/defiant.js'></script>
<script src='/javascripts/chart.js'></script>
<script>
$.getJSON(document.URL, function(json) {
  graph('<%= @title["en"] %>', json, '<%= @textcolour %>', '<%= @boxcolour %>', '<%= @plotly_modebar %>', '<%= @datatype %>')
})
</script>
