<!-- PLOTLY -->
<script src='//cdn.plot.ly/plotly-latest.min.js'></script>
<!-- TIMEAGO -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.5.3/jquery.timeago.min.js" integrity="sha256-RqSm4Z6+4QIEP1fNwc4t5kbWaLkW66s+WqcYnZJl/fo=" crossorigin="anonymous"></script>

<style>
  @import '/css/tooltip.css';

  #wrapper h1 {
    position: absolute;
    z-index: 1000;
    width: 100%;
    text-align: center;
    color: <%= @textcolour %>;
    font-size: <%= @font_size %>;
    font-weight: 400;
    opacity: 0.7;
    line-height: 1em;
    padding: 0;
    top: 0em;
  }

  #last-updated {
    position: absolute;
    bottom: 1.5em;
    text-align: center;
    width: 100%;
    font-size: 3vh;
    opacity: 0.6;
  }
</style>

<div id="wrapper">
  <h1 data-tip='<%= @description['en'] %>'><%= @title['en'] %></h1>
  <div id='chart'>
    <small id="last-updated"></small>
  </div>
</div>
<script src='/javascripts/metrics.js'></script>
<script src='/javascripts/defiant.js'></script>
<script src='/javascripts/chart.js'></script>
<script>
function loadMetric() {
  $.getJSON(document.URL, function(json) {
    graph('<%= @title["en"] %>', json, '<%= @textcolour %>', '<%= @boxcolour %>', '<%= @plotly_modebar %>', '<%= @datatype %>', '<%= @date_format %>')
  })
}

var channel = pusher.subscribe('<%= @metric %>');

channel.bind('updated', function(data) {
  loadMetric()
})

loadMetric();
</script>
