<div id='chart'></div>

<script src='/javascripts/metrics.js'></script>
<script src='/javascripts/defiant.js'></script>
<script>
$.getJSON(document.URL, function(json) {
  graph(json)
})

function graph(json) {
  var points = getPoints(json['values'])
  var data = {
    x: points['x'],
    y: points['y'],
    type: 'scatter',
    line: {
      shape: 'spline',
      width: 2,
      smoothing: 1.3,
      color: '<%= @textcolour %>'
    },
  }

  var layout = {
    title: extractTitle(document.URL),
    titlefont: {
      color: '<%= @textcolour %>'
    },
    paper_bgcolor: '<%= @boxcolour %>',
    plot_bgcolor: '<%= @boxcolour %>',
    xaxis: {
      gridcolor: '#333',
      type: 'datetime',
      tickangle: 315,
      tickformat: "%Y-%m-%d",
      tickfont: {
        font: {
          color: '<%= @textcolour %>'
        }
      }
    },
    yaxis: {
      gridcolor: '#333',
      tickangle: 315,
      tickfont: {
        font: {
          color: '<%= @textcolour %>'
        }
      }
    },
    margin: {
      l: 70, r: 30
    }
  }

  Plotly.newPlot(
    'chart',
    [ data ],
    layout,
    { displayModeBar: <%= @plotly_modebar %> }
  );
}
</script>
