<%if @layout == 'bare' %>
  <div id='wrapper' style='background-color: <%= @boxcolour %>; color: <%= @textcolour %>'>
    <% if @alternatives.include? @type %>
      <%= erb @type.to_sym %>
    <% else %>
      <%= erb :chart %>
    <% end %>
  </div>
<% else %>
  <div id="iframe_embed">
    <%= embed_iframe %>
  </div>
<% end %>
