<div prefix='dct: http://purl.org/dc/terms/
            rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#
            dcat: http://www.w3.org/ns/dcat#
            foaf: http://xmlns.com/foaf/0.1/'>
  <div typeof='dcat:Dataset' resource='<%= request.url %>'>

    <h1 property='dct:title'>ODI Metrics</h1>
    <div property='dct:description'>
      <p>This API contains a list of all metrics collected by the Open Data Institute since 2013</p>
    </div>

    <p>
      Each metric redirects to a HTML version with chart. To access the raw data, simply
      append <code>.json</code> to the URI, or add an <code>Accept: application/json</code> header to your request
    </p>
    <p>
      See the <a href='/documentation'>detailed documentation</a> for more information
    </p>

    <h2>License</h2>

      <div property='dct:license' resource='https://creativecommons.org/licenses/by-sa/4.0/'>
        <p>This data is licensed under the <a href='https://creativecommons.org/licenses/by-sa/4.0/'><span property='dct:title'>Creative Commons Attribution-ShareAlike</span></a> License</p>
  
      </div>

    <h2>Current Metrics</h2>

    <ul id='metrics'>
      <% @metrics[:metrics].each do |metric| %>
        <li property='dcat:distribution' typeof='dcat:Distribution'>
          <a href='<%= metric[:url].gsub('.json', '') %>' property='dcat:accessURL'>
            <span property='dct:title'><%= extract_title(metric[:url]) %></span>
          </a>
        </li>
      <% end %>
    </ul>

    <h2>About this dataset</h2>
    <dl class='dl-horizontal'>
      <dt>Created</dt>
      <dd property='dct:created' content='<%= @created.iso8601 %>' datatype='xsd:dateTime'><%= @created.strftime('%B %e %Y at %H:%I') %></dd>

      <dt>Modified</dt>
      <dd property='dct:modified' content='<%= @updated.iso8601 %>' datatype='xsd:dateTime'><%= @updated.strftime('%B %e %Y at %H:%I') %></dd>

      <dt>Published by</dt>
      <dd property='dct:publisher' resource='http://theodi.org'>
        <a href='http://theodi.org' about='http://theodi.org' property='foaf:homepage'>
          <span property='foaf:name'>Open Data Institute</span>
        </a>
      </dd>

      <dt>Updated</dt>
      <dd><a href='http://purl.org/linked-data/sdmx/2009/code#freq-D' property='dcat:accrualPeriodicity'>Daily</a></dd>
    </dl>

  </div>
</div>
