<div prefix='dct: http://purl.org/dc/terms/
            rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#
            dcat: http://www.w3.org/ns/dcat#
            foaf: http://xmlns.com/foaf/0.1/'>
  <div typeof='dcat:Dataset' resource='<%= request.url %>'>

    <h1 property='dct:title'><%= @config[:title] %></h1>
    <div property='dct:description'>
      <p><%= @config[:description] %></p>
    </div>

    <p>
      Each metric redirects to a HTML version with chart. To access the raw data, simply
      append <code>.json</code> to the URI, or add an <code>Accept: application/json</code> header to your request
    </p>
    <p>
      See the <a href='/documentation'>detailed documentation</a> for more information
    </p>

    <h2>License</h2>

      <div property='dct:license' resource='<%= @config[:license][:url] %>'>
        <p>This data is licensed under the <a href='<%= @config[:license][:url] %>'><span property='dct:title'><%= @config[:license][:name] %></span></a> License</p>

      </div>

    <h2>Current Metrics</h2>

    <div class="table-responsive">
      <table class="table">
        <!-- this change will require an amendment to features/html.feature:6-->
        <tr>
          <th>Metric</th>
          <% if authorized? %>
            <th colspan="2"><span align="right">admin</span></th>
          <% end %>
        </tr>
        <% @metrics[:metrics].each do |metric| %>
        <tr>
          <td property='dcat:distribution' typeof='dcat:Distribution'>
            <a href='<%= metric[:url].gsub('.json', '') %>' property='dcat:accessURL'>
              <span property='dct:title'><%= extract_title(metric[:url]) %></span>
            </a>
          </td>
          <% if authorized? %>
              <td id="edit-metadata">edit metadata</td>
              <td id="delete-metric">
                <form action='metrics/<%= metric[:name] %>' method='POST' class='pull-right'>
                  <input type='hidden' name='_method' value='DELETE'/>
                  <button type='submit' onclick="return confirm('Are you sure you want to delete all data stored in this metric?');">delete?</button>
                </form>
              </td>
        <% end %>
        </tr>

        <% end %>
      </table>
    </div>




    <h2>About this dataset</h2>
    <dl class='dl-horizontal'>
      <dt>Created</dt>
      <dd property='dct:created' content='<%= @created.iso8601 %>' datatype='xsd:dateTime'><%= @created.strftime('%B %e %Y at %H:%I') %></dd>

      <dt>Modified</dt>
      <dd property='dct:modified' content='<%= @updated.iso8601 %>' datatype='xsd:dateTime'><%= @updated.strftime('%B %e %Y at %H:%I') %></dd>

      <dt>Published by</dt>
      <dd property='dct:publisher' resource='<%= @config[:publisher][:url] %>'>
        <a href='<%= @config[:publisher][:url] %>' about='<%= @config[:publisher][:url] %>' property='foaf:homepage'>
          <span property='foaf:name'><%= @config[:publisher][:name] %></span>
        </a>
      </dd>

      <dt>Updated</dt>
      <dd><a href='http://purl.org/linked-data/sdmx/2009/code#freq-D' property='dcat:accrualPeriodicity'>Daily</a></dd>
    </dl>

  </div>
</div>