<!-- MOMENT -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js'></script>

<div id="number-container"></div>

<template id="number-template">
  <style>
    @import '/css/number.css';
    @import '/css/tooltip.css';

    #number h1 {
      font-size: <%= @font_size %>;
    }


    #number h2 {
      font-size: 25vw;
    }
  </style>
  <div id='widget'>
    <div id='number'></div>
  </div>
</template>

<script src='/javascripts/webcomponents.js'></script>
<script src="/javascripts/countup.js"></script>
<script src="/javascripts/number.js"></script>

<script>
var container = document.querySelector('#number-container');
var root = container.createShadowRoot();
$.getJSON(document.URL, function (json) {
  t = document.querySelector('#number-template')
  root.innerHTML = t.innerHTML
  title = '<%= @title["en"] %>'
  number(json, title, $(container.shadowRoot), '<%= @datatype %>', '<%= @description['en'] %>', '<%= @date_format %>')
})
</script>
