<!-- PLOTLY -->
<script src='//cdn.plot.ly/plotly-latest.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js'></script>

<style>
  @import '/css/tooltip.css';

  #wrapper h1 {
    position: absolute;
    z-index: 1000;
    width: 100%;
    text-align: center;
    color: <%= @textcolour %>;
    font-size: <%= @font_size %>;
    font-weight: 400;
    opacity: 0.7;
    line-height: 1em;
    padding: 0;
    top: 1em;
  }

  #last-updated {
    position: absolute;
    bottom: 1.5em;
    text-align: center;
    width: 100%;
    font-size: 3vh;
    opacity: 0.6;
  }
</style>

<div id="wrapper">
  <h1 data-tip='<%= @description['en'] %>'><%= @title['en'] %></h1>
  <div id='chart'>
    <small id="last-updated"></small>
  </div>
</div>
<script src='/javascripts/metrics.js'></script>
<script src='/javascripts/defiant.js'></script>
<script>
$.getJSON(document.URL + '?with_path=true', function(json) {
  pie(json)
})

function pie(json) {
  $('#chart').height($(window).height())

  value = typeof(json.value) === 'undefined' ? json.values[0] : json.value

  var data = [{
    values: extractValues(value, '//total'),
    labels: extractKeys(value, '//total'),
    type: 'pie',
    textinfo: 'label+percent',
    marker: {
      colors: <%= @pie_colours %>
    }
  }];

  var layout = {
    paper_bgcolor: '<%= @boxcolour %>',
    plot_bgcolor: '<%= @boxcolour %>',
    showlegend: false,
    margin: {
      l: 0, r: 0, t: 60, b: 60
    },
    font: {
      color: '#000000'
    }
  };

  var lastUpdated = moment(json.time).format('<%= @date_format %>')

  $('#last-updated').html('Last updated: ' + lastUpdated)

  Plotly.newPlot('chart', data, layout, { displayModeBar: <%= @plotly_modebar %> });
}
</script>
