<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js'></script>

<div id='target-container'>
</div>

<template id='metric-with-target'>
  <style>
    @import '/css/target.css';
    @import '/css/tooltip.css';

    #caption h1 {
      font-size: <%= @font_size %>;
    }

    #last-updated {
      position: absolute;
      text-align: center;
      width: 100%;
      font-size: 3vh;
      opacity: 0.6;
      left:0;
      bottom: 1.5em;
    }
  </style>

  <div id="widget">

    <div id='target-wrapper'>
      <div id='caption' data-tip='<%= @description['en'] %>'></div>
      <div id='target' class='col-md-12 hidden-xs hidden-sm'></div>
      <div id='target-little' class='col-md-12 hidden-md hidden-lg'></div>

      <small id="last-updated"></small>
    </div>

  </div>
</template>

<script src='/javascripts/webcomponents.js'></script>
<script src='/javascripts/tooltip.js'></script>
<script src='/javascripts/target.js'></script>

<script>
var container = document.querySelector('#target-container');
var root = container.createShadowRoot();
var channel = pusher.subscribe('<%= @metric %>');

function loadMetric() {
  $.getJSON(document.URL, function (json) {
    t = document.querySelector('#metric-with-target');
    lastUpdated = moment(json.time).format('<%= @date_format %>')

    root.innerHTML = t.innerHTML
    $(container.shadowRoot).find('#caption').html('<h1><%= @title["en"] %></h1>')
    $(container.shadowRoot).find('#last-updated').html('Last updated: ' + lastUpdated)

    drawTarget(lastOrOnlyValue(json), '<%= @barcolour %>', $(container.shadowRoot), '<%= @datatype %>')
  })
}

channel.bind('updated', function(data) {
  loadMetric()
})

loadMetric()
</script>
