<br />

<div class="row">
  <div class='col-md-12'>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#types" id="type-tab" role="tab" data-toggle="tab" aria-controls="types" aria-expanded="true">
          Visualisation types
        </a>
      </li>
      <li role="presentation" >
        <a href="#dates" role="tab" id="profile-tab" data-toggle="tab" aria-controls="dates">
          Dates
        </a>
      </li>
      <li role="presentation" >
        <a href="#customise" role="tab" id="profile-tab" data-toggle="tab" aria-controls="customise">
          Customise
        </a>
      </li>
      <li>
        <a href="#embed" role="tab" id="profile-tab" data-toggle="tab" aria-controls="embed">
          Embed
        </a>
      </li>
      <% if authorized? %>
        <li>
          <a href="/metrics/<%= @metric %>/metadata">Edit Metadata</a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class='form-inline'>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="types">

      <div class='form-group col-md-12'>
        <label for='type' class='col-md-2'>View this as a</label>
        <div class="col-md-10">
          <% @alternatives.each do |alternative| %>
            <label class='radio-inline'>
              <input type='radio' name='type' value='<%= alternative %>'<% if  @type == alternative %> checked<% end %>> <%= alternative %>
            </label>
          <% end %>
        </div>
        <% extract_query_string(request.env['QUERY_STRING'], exclude: 'type').each do |name, value| %>
          <input type='hidden' name='<%= name %>' value='<%= value %>' />
        <% end %>
      </div>

    </div>

    <div role="tabpanel" class="tab-pane" id="dates">

        <div class='row <%= @type == 'chart' ? '' : 'hidden' %>' id='tofrom'>
          <div class='col-md-12'>
            <div class='form-group col-md-6'>
              <label for='oldest' class='col-md-3 text-right'>From</label>
              <div class='input-group date col-md-9' id='from-date'>
                <input type='text' class="form-control" id='oldest' name='oldest'/>
                <span class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>
            </div>
            <div class='form-group col-md-6'>
              <label for='newest' class='col-md-3 text-right'>To</label>
              <div class='input-group date col-md-9' id='to-date'>
                <input type='text' class="form-control" id='newest' name='newest'/>
                <span class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class='row <%= @type == 'chart' ? 'hidden' : '' %>' id='singledate'>
          <div class='col-md-12'>
            <div class='form-group col-md-6'>
              <label for='date' class='col-md-3 text-right'>Date</label>
              <div class='input-group date col-md-9' id='date'>
                <input type='text' class="form-control" id='new-date' name='date'/>
                <span class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>
            </div>
          </div>
        </div>

    </div>

    <div role="tabpanel" class="tab-pane" id="customise">

      <% if @type == 'map' %>
        <script src="//unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
        <script src="//unpkg.com/leaflet-providers@1.1.16/leaflet-providers.js"></script>

        <div class='col-md-12 form-group'>
          <label for='tiles' class='col-md-3 text-right'>Map tiles</label>
          <select name='tiles' id='tiles' class='form-control'></select>
        </div>

        <script>
          var excludes = ['HERE', 'MapBox', 'Thunderforest']
          for (var provider in L.TileLayer.Provider.providers) {
            if (excludes.includes(provider)) continue
            if (L.TileLayer.Provider.providers[provider].variants) {
              for (var variant in L.TileLayer.Provider.providers[provider].variants) {
                $('#tiles').append($('<option>', {value: provider + '.' + variant, text: provider + '.' + variant}));
              }
            } else {
              $('#tiles').append($('<option>', {value: provider, text: provider}));
            }
          }
        </script>

      <% else %>

      <div class='col-md-12'>
        <div class='form-group col-md-6'>
          <label for='boxcolour' class='col-md-3 text-right'>Box Colour</label>
            <div class="input-group col-md-9" id="boxcolour">
              <input type="text" name="boxcolourpicker" value="<%= @boxcolour %>" class="form-control" />
              <span class="input-group-addon"><i></i></span>
            </div>
            <input type="hidden" name="boxcolour" value="<%= @boxcolour[1..-1] %>" />
        </div>

        <div class='form-group col-md-6'>
          <label for='boxcolour' class='col-md-3 text-right'>Text Colour</label>
            <div class="input-group col-md-9" id="textcolour">
              <input type="text" name="textcolourpicker" value="<%= @textcolour %>" class="form-control" />
              <span class="input-group-addon"><i></i></span>
            </div>
            <input type="hidden" name="textcolour" value="<%= @textcolour[1..-1] %>" />
        </div>

      <% end %>

    </div>

    <div role="tabpanel" class="tab-pane" id="embed">
      <div class='form-group col-md-12'>
        <textarea rows="2" class="form-control" id="embed" data-url="<%= embed_url %>"></textarea>
      </div>
    </div>

  </div>

</div>

<script>
function pickerOptions(format, date, minDate) {
  options = {
    format: format,
    date: date,
    minDate: minDate
  };

  for(var k in options)
    if(options[k] == '') delete options[k];

  return options
}

function callDatePicker(format, date, earliest_date) {
  $('#date').datetimepicker(pickerOptions(format, date, '', earliest_date));

  $('#date').on('dp.change', function() {
    updatePage({}, $('input[name="date"]').val())
  })
}

function callFromToDatePicker(format, date_from, date_to, earliest_date) {
  $('#from-date').datetimepicker(pickerOptions(format, earliest_date, earliest_date));
  $('#to-date').datetimepicker(pickerOptions(format, date_to, earliest_date));

  $('#from-date').on('dp.change', function (e) {
    $('#to-date').data('DateTimePicker').minDate(e.date)
  })

  $('#to-date').on('dp.change', function (e) {
    $('#from-date').data('DateTimePicker').maxDate(e.date)
  })

  $('#from-date, #to-date').on('dp.change', function() {
    updatePage({}, $('input[name="oldest"]').val(), $('input[name="newest"]').val())
  })
}

$(function() {
  var format = 'YYYY-MM-DD HH:mm:ss'
  setEmbedCode()
  callFromToDatePicker(format, '<%= @from || @earliest_date  %>', '<%= @to || @date %>', '<%= @earliest_date %>')
  callDatePicker(format, '<%= @to || @date %>', '<%= @earliest_date %>')

  var picker = $('#boxcolour, #textcolour').colorpicker()

  picker.on('changeColor', function(ev){
    $(this).next('input').val(ev.color.toHex().replace('#', ''));

    if (ev.target.id == 'textcolour') {
      var textcolour = ev.color.toHex()
      var boxcolour = $('input[name="boxcolourpicker"]').val()
    } else {
      var textcolour = $('input[name="textcolourpicker"]').val()
      var boxcolour = ev.color.toHex()
    }

    updatePage({
      boxcolour: boxcolour.replace('#', ''),
      textcolour: textcolour.replace('#', '')
    })
  });

  $('input[name="type"]').change(function(){
    if ($(this).val() == 'chart') {
      $('#singledate').addClass('hidden')
      $('#tofrom').removeClass('hidden')
      var from = $('input[name="oldest"]').val()
      var to = $('input[name="newest"]').val()
    } else {
      $('#singledate').removeClass('hidden')
      $('#tofrom').addClass('hidden')
      var from, to
    }

    updatePage({
      type: $(this).val()
    }, from, to)
  })

  $('#tiles').change(function() {
    updatePage({
      tiles: $(this).val()
    })
  })

})
</script>
