<% if @errors %>
  <% @errors.each do |field, error| %>
    <div class="alert alert-danger" role="alert">
      <% if @dashboard[field].blank?  %>
        The field <%= field %> <%= error %>
      <% else %>
        The <%= field %> '<%= @dashboard[field] %>' <%= error %>
      <% end %>
    </div>
  <% end %>
<% end %>

<h1><%= @title %></h1>

<form method="post" action="<%= "/dashboards/#{@dashboard.slug}".chomp('/') %>" id="form">
  <% if @dashboard.persisted? %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>

  <div class="form-group">
    <label for="title">Dashboard Name</label>
    <input type="text" class="form-control" id="title" value="<%= @dashboard.name %>" name="dashboard[name]">
  </div>

  <div class="form-group">
    <label for="title">Dashboard Slug</label>
    <input type="text" class="form-control" id="slug" value="<%= @dashboard.slug %>" name="dashboard[slug]" pattern="[a-z0-9\-]+" <%= 'disabled' if @dashboard.persisted? %> >
    <div class="help-block hidden" id="slug-preview">This means your dashboard will be accessible at <code>/dashboards/<span></span></code></div>
  </div>

  <div class="form-group">
    <label for="title">Number of rows</label>
    <input type="number" class="form-control rowcols" id="rows" value="<%= @dashboard.rows || 3 %>" name="dashboard[rows]" min="1" max="3">
    <div class="help-block">Maxiumum 3 rows</div>
  </div>

  <div class="form-group">
    <label for="title">Number of columns</label>
    <input type="number" class="form-control rowcols" id="columns" value="<%= @dashboard.columns || 3 %>" name="dashboard[columns]" min="1" max="4">
    <div class="help-block">Maxiumum 4 columns</div>
  </div>

  <div class="form-group">
    <table id="dashboard" class="hidden table"></table>
    <div id="metric-template" class="hidden">
      <iframe src='' width='100%' height='300px' frameBorder='0' scrolling='no' data-base-url='<%= request.scheme + '://' + request.host_with_port +  '/metrics/' %>' class='hidden'></iframe>

      <div class="form-group form-group-sm col-md-12">
        <label for='metric' class='text-right'>Metric</label>
        <div class="input-group col-md-12">
          <select class="form-control metric input-sm">
            <option>-- Select a metric--</options>
            <% @metrics.each do |metric| %>
              <option data-visualisations="<%= get_alternatives(metric.value).join(',') %>"><%= metric.name %></option>
            <% end %>
          </select>
        </div>
      </div>

      <div class='form-group form-group-sm col-md-6'>
        <label for='boxcolour' class='text-right'>Box Colour</label>
          <div class="input-group colourpicker boxcolour">
            <input type="text" name="boxcolourpicker" value="" class="form-control input-sm" />
            <span class="input-group-addon"><i></i></span>
          </div>
          <input type="hidden" class="boxcolour" value="ddd" />
      </div>

      <div class='form-group form-group-sm col-md-6'>
        <label for='boxcolour' class='text-right'>Text Colour</label>
          <div class="input-group colourpicker textcolour">
            <input type="text" name="textcolourpicker" value="" class="form-control input-sm" />
            <span class="input-group-addon"><i></i></span>
          </div>
          <input type="hidden" class="textcolour" value="676767" />
      </div>

      <div class='form-group form-group-sm hidden visualisations col-md-12'>
        <label for='boxcolour' class='text-right'>Visualisation Type</label>
        <input type="radio" class="visualisation default hidden" value="default" checked="checked" />

        <div class="input-group textcolour">
          <label class="chart hidden radio-inline">
            <input type="radio" class="visualisation" value="chart" />
            Chart
          </label>
          <label class="number hidden radio-inline">
            <input type="radio" class="visualisation" value="number" />
            Number
          </label>
          <label class="target hidden radio-inline">
            <input type="radio" class="visualisation" value="target" />
            Target
          </label>
          <label class="pie hidden radio-inline">
            <input type="radio" class="visualisation" value="pie" />
            Pie
          </label>
        </div>
      </div>

      <div class='form-group form-group-sm col-md-12'>
        <label for='columns' class='text-right'>Number of columns</label>
        <div class='input-group col-md-12'>
          <select name='width' id='width' class='form-control width-selector input-sm'></select>
        </div>
      </div>

      <div class='form-group form-group-sm col-md-12'>
        <label for='rows' class='text-right'>Number of rows</label>
        <div class='input-group col-md-12'>
          <select name='height' id='height' class='form-control height-selector input-sm'></select>
        </div>
      </div>

      <input type="hidden" class="row" />
      <input type="hidden" class="col" />
      <input type="hidden" class="width" />
      <input type="hidden" class="height" />

    </div>
  </div>

  <div class="form-group">
    <button class="btn btn-primary btn-block">Submit</button>
  </div>

</form>

<script src='/javascripts/dashboard.js'></script>

<script>
  $(function() {
    var dashboardMetrics = JSON.parse('<%= (@dashboard.metrics || {}).to_json %>')

    buildTable(<%= @dashboard.rows || 3 %>, <%= @dashboard.columns || 3 %>);
    populateTable(dashboardMetrics)

    $('.rowcols').change(function(e) {
      var row_num = parseInt($('#rows').val());
      var col_num = parseInt($('#columns').val());

      buildTable(row_num, col_num);
    })

    $('#title').keyup(function() {
      title = $(this).val()
      slug = title.toLowerCase().replace(/[^\w ]+/g,"").replace(/ +/g,"-").replace(/^-+|-+$/,"")
      if ($('#slug').prop('disabled') === false) {
        $('#slug').val(slug)
        $('#slug-preview').removeClass('hidden')
        $('#slug-preview span').html(slug)
      }
    })

    $(document).on('change', '.metric', function() {
      var iframe = $(this).parents().eq(2).find('iframe')
      populateIframe(iframe, $(this).val())
      showVisualisations($(this).parents().eq(2).find('.visualisations'), $(this).find(":selected"))
    })

    $(document).on('change', '.visualisation', function() {
      var iframe = $(this).parents().eq(3).find('iframe')
      var params = {
        type: $(this).val()
      }

      setSrc(iframe, params);
    })

    $(document).on('change', '.height-selector', function() {
      $this = $(this)

      var span = Number($this.val())
      var td = $this.closest("td")

      var td = growRow(td, span, col_template)

      updateSelects(table, row_num, col_num)
      setInputs($('#dashboard'))
      setPickers()

      $this.val(span)
      td.find('.height').val(span)
    })

    $(document).on('change', '.width-selector', function() {
      $this = $(this)

      var span = Number($this.val())
      var td = $this.closest("td")
      var table = $(this).parents('table')

      var td = growCol(td, span, col_template)

      updateSelects(table, row_num, col_num)
      setInputs($('#dashboard'))
      setPickers()

      $this.val(span)
      td.find('.width').val(span)
    })

  });
</script>
